

DATABASE_URL=
PORT=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=
project_name=

JWT_ACCESS_SECRET=

JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

RESEND_API_KEY=
EMAIL_FORM=
OTP_EXPIRES_IN=
OTP_SECRET=
GST_RATE=
CHECKOUT_EXPIRY_MINUTES=
REDIS_URL=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NODE_ENV=
FRONTEND_URL=
RAZORPAY_WEBHOOK_SECRET=
